/* src/components/Dashboard/Dashboard.css */

.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    
    /* Add transition effect */
    transition: margin-left var(--navbar-transition-duration) ease, width var(--navbar-transition-duration) ease;

    width: calc(100vw - var(--navbar-width) ); /* Same as navbar width */
    height: 100vh;
   
    color: black;
  }

  .dashboard-wrapper.collapsed {
    margin-left: var(--navbar-width-colapsed);
    width: calc(100vw - var(--navbar-width-colapsed) );
  }
  
  .dashboard-wrapper.expanded {
    margin-left: var(--navbar-width);
  }
  
  
  .dashboard-content {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: var(--secondary-color);

    padding: 2rem;
  }

  .dashboard-header{
    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--secondary-color);

    padding: 2rem;
  }
  