.settings-section{
    margin-left:24px;
    margin-right:24px;
    padding: 24px;
    border-radius: 5px;
}

.settings-section h2{
    font-weight: 550;
    font-size: 24px;
    color: var(--soft-primary);
}

.settings-section h3{
    font-weight: 550;
    font-size: 20px;
    color: var(--soft-primary);
}

.settings-section h4{
    font-weight: 550;
    font-size: 16px;
    color: var(--soft-primary);
}

.settings-section p{
    font-weight: 450;
    font-size: 14px;
    color: var(--tertiary-color);
}

.settings-field{
    display: flex;
    flex-direction: column;
    margin: 16px 0;

    width: 50%;
}

.settings-field input{
    max-width: 400px;
}

.settings-field .line-divider{
    max-width: 450px;
}