.messenger-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.messenger-page-header{
    border-bottom: 1px solid var(--soft-gray);
}

.messenger-chat-list {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: var(--secondary-color);
  min-width: 275px;
  max-width: 350px;
}


.message-search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    background-color: var(--secondary-color);
    padding: 1rem;
    gap: 10px;

    border-style: solid;
    border-color: var(--soft-gray);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    box-sizing: border-box;
}

.new-conversation-modal-container{
  min-height: 300px;
  height: fit-content;
  max-height: 500px;
  padding-bottom: 0px;

  justify-content: space-between;

  gap: 40px
}

.dropdown-menu{
    width: 100%;
    height: fit-content;

    background-color: var(--messenger-bg-offset);

    position: absolute;
    top: 100%; /* Position it right below the input field */
    left: 0;
    z-index: 10; /* Ensure it's above other content */

    /* drop shadow */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    max-height: 250px;
    max-width: 100%;
    overflow: auto;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

}

.dropdown-menu-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    gap: 10px;

    padding: 10px;
}

.dropdown-menu-row:hover{
    background-color: var(--soft-hover-color);
}

.dropdown-menu-row img{
    width: 35px;
    border-radius: 50%;
}

.selected-users-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    background-color: var(--secondary-color);

    margin-top: 24px;
}



.selected-user-row{
    

    width: 100%;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    border-radius: 4px;

    transition: all 0.25s;
}

.selected-user-row:hover{
    background-color: var(--soft-hover-color);
}

.selected-user-row img{
    width: 35px;
    border-radius: 50%;
}

.user-remove-button button{
  width: fit-content;
  height: fit-content;

  background-color: transparent;
  border: none;

  padding: 0px;

  transition: all 0.2s;
}

.user-remove-button button:hover{
  background-color: var(--soft-hover-color-2);
}

.modal-footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white; /* Match the modal's background */
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Optional: adds a shadow to the top of the footer */
  z-index: 5; /* Ensure it's above the body content */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  padding: 10px;

  /* border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; */
}




  .new-chat button{
    width: fit-content;
    height: 100%;
    background-color: var(--soft-gray);
    color: var(--primary-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.25s;

    padding: 8px !important;
    border-radius: 10px !important;
  }

    .new-chat button:hover{
        background-color: var(--soft-hover-color-3);
    }


.messenger-conversation-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);

  border-right: 1px solid var(--soft-gray);
}

.no-conversation-text{
  color: var(--soft-gray);
}

.messenger-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%; 
  height: fit-content;
  background-color: var(--secondary-color);
  padding: 24px;
  gap: 12px;
  border-style: solid;
  border-color: var(--soft-gray);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  box-sizing: border-box;
}


.messenger-input-container textarea{
  height: auto;
  overflow-x:hidden; /* Hide vertical scrollbar */
  overflow-y:auto; /* Hide horizontal scrollbar */
  resize: vertical; /* Prevent resizing which could also show a scrollbar */
  max-height: 120px;
  min-height: 50px;
}

.messenger-chat-body {
  display: flex;
  width: 100%;
  min-width: 700px;
  height: 100%;
  background-color: var(--messenger-bg-offset);
}

.messenger-chat-body-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: var(--messenger-bg-offset);
  justify-content: space-between;
  /* padding-bottom: 96px; */
}


.messenger-messages-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  min-height: 0;

}

.messenger-messages-container-chat-list {
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: none;
  width: 100%;
}

.messenger-messages-reverse-infinite-scroll {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: none;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.messenger-messages-reverse-infinite-scroll::-webkit-scrollbar {
  display: none;
}
